@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*------Global------*/

* {
	margin:0;
	padding:0;
	border: 0;
	font-size:100%;
	box-sizing: border-box;
	/*vertical-align: baseline;*/
}

html {
	font-family: poppins;
}

body {
	font-family: 'Galada', cursive;
	font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #eee;
  width: 100%;

}

h1 {
	font-size: 48px;
	font-weight: 100;
	color: #292929;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
}



/*------navbar------*/
#nav-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	transition: background 0s;
	line-height: 85px;
	vertical-align: middle;
	padding: 0 5%;
	align-items: middle;
}

#nav-area .logo img {
	height: 41px;
	transition: height 0.5s;
	vertical-align: middle;
	/*padding-left: 10vh;*/
}

#nav-area ul{
	align-items: center;
	width: 50%;
	justify-content: space-around;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-decoration: none;
}

#nav-area ul a{
	text-decoration: none;
	color: lightgray;
}

#nav-area .btn-outline {
	display: block;
	text-decoration: none;
	color: lightgray;
	border: 2px solid #F6DD00;
	border-radius: 6px;
	width: 113px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

/*------header------*/
header {
	height: 1000px;
	min-height: 1000px;
	background-image: url(svg/1x/topRight.png);
	background-repeat: no-repeat;
	background-size: 70% 45%;
	background-position: top right; 
}

.container {
  height: 100vh;
  padding: 20% 0 0 5%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 4rem;
  /*padding: 0.5rem;*/
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: left;
  line-height: 4rem;
  /*overflow: hidden;*/
}

.container h3 {
  font-size: 2.5rem;
  padding: 1.1rem 0 ;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-align: left;
  overflow: hidden;
}

.container h3 span.typed-text {
  font-weight: normal;
  color: #F4DB0D;
}
.container h3 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container h3 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.container p {
  font-size: 16px;
  /*padding: 0.5rem;*/
  font-weight: 100%;
  letter-spacing: 0.1rem;
  text-align: left;
  /*overflow: hidden;*/
}





