@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*------Global------*/

* {
	margin:0;
	padding:0;
	border: 0;
	font-size:100%;
	box-sizing: border-box;
	/*vertical-align: baseline;*/
}

html {
	font-family: poppins;
}

body {
	font-family: 'Galada', cursive;
	font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #eee;
  width: 100%;

}

h1 {
	font-size: 48px;
	font-weight: 100;
	color: #292929;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
}


/*------header------*/
header {
	height: 100vh;
	min-height: 100vh;
	background-image: url(svg/1x/topRight.png);
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: top right; 
}


/*------navbar------*/
#nav-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: transparent;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	transition: background 0s;
	line-height: 60px;
	vertical-align: middle;
	padding: 0 5%;
	align-items: middle;
}

#nav-area .logo img {
	height: 41px;
	transition: height 0.5s;
	vertical-align: middle;
	/*padding-left: 10vh;*/
}

#nav-area ul{
	align-items: center;
	width: 50%;
	/*background: yellow;*/
	justify-content: space-around;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-decoration: none;
	font-size: 14px;
}

#nav-area ul li {
	display: ;
	/*position: static;*/
	text-decoration: none;
	color: lightyellow;
	/*background-color: gray;*/
	/*height: 10px;*/
}

#nav-area ul li a{
	display: ;
	position: static;
	text-decoration: none;
	color: lightgray;
	/*background-color: gray;*/
	height: 10px;
	text-decoration: none;

}

#nav-area .btn-outline {
	display: block;
	text-decoration: none;
	color: lightgray;
	border: 2px solid #F6DD00;
	border-radius: 6px;
	width: 113px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.container {
	position: relative;
  height: 100vh;
  width: 100%;
  padding: 20% 0 0 5%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

/*.container .top-img {
	position: absolute;
	top: 0;
	left: ;
	right: 0;
}*/

.container .per-img{
/*	width: 3000%;
	height: auto;*/
	position: absolute;
	padding: 0 0 0 480px;
/*	padding-left: 480px;*/
	top: 150px;
	/*z-index: 2;*/
}

.container .per-img img {
	width: 90%;
	height: auto;
	z-index: 2;

}

.container h1 {
  font-size: 4rem;
  /*padding: 0.5rem;*/
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: left;
  line-height: 4rem;
  /*overflow: hidden;*/
}

.container h3 {
	position: relative;
  font-size: 2.5rem;
  padding: 1.1rem 0 ;
  font-weight: 100;
  /*letter-spacing: 0.1rem;*/
  text-align: left;
  overflow: hidden;
}

.container h3 span.typed-text {
  position: relative;
  font-weight: normal;
  color: #F4DB0D;
  z-index: 3;
}
.container h3 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container h3 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.container p {
  font-size: 16px;
  position: relative;
  /*padding: 0.5rem;*/
  font-weight: 100%;
  letter-spacing: 0.1rem;
  text-align: left;
  z-index: 5;
  /*overflow: hidden;*/
}





